
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: aquamarine;">
    <div class="container-fluid" style="background-color:rgb(131, 168, 238)" >
      <a class="navbar-brand" href="#">PharmaProject</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/appointmentform">AppointmentForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/itemlist">ItemList</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
